

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0rem;
    padding: 0rem;
}
:root{
    /*Primary*/
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
body{
    display: flex;    
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
.container{
    flex-direction: column;
    max-width: 350px;
    max-height: 588px;
    border: 1px solid black;
    border-radius: 1rem;
}
.container__image{
    display: block;
    margin: 1.5rem 1.5rem;
    width: 302px;
    height: 302px;
    border-radius: 1rem;
}
h1{
    font-size: 18px;
}
p{
    font-size: 18px;
}
.container__creator--avatar{
    width: 20%;
    height: 20%;
}
